## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.utils import resample
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
counts_df = application_df.drop(columns=['EIN', 'NAME'])
counts_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
counts_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
counts_df = counts_df["APPLICATION_TYPE"].value_counts()
counts_df

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(counts_df[counts_df<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
class_counts = application_df["CLASSIFICATION"].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_counts[class_counts>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C2710        3
C0           3
C1260        3
C1256        2
C1234        2
C1267        2
C1246        2
C3200        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(class_counts[class_counts<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
dummies_df = pd.get_dummies(application_df)
dummies_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,10531628,1,108590,1,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,10547893,1,5000,0,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,10553066,1,6692,1,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,10556103,1,142590,1,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [11]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = dummies_df["IS_SUCCESSFUL"]
X = dummies_df.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=47)

In [12]:
# Check if it's a DataFrame and for NaN values
print(X_train.shape, X_test.shape)
print(X_train.info())
print(np.isnan(X_train).sum())

(25724, 19612) (8575, 19612)
<class 'pandas.core.frame.DataFrame'>
Index: 25724 entries, 10073 to 11528
Columns: 19612 entries, EIN to SPECIAL_CONSIDERATIONS_Y
dtypes: bool(19609), int64(3)
memory usage: 481.8 MB
None
EIN                                                               0
STATUS                                                            0
ASK_AMT                                                           0
NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC    0
NAME_100 BLACK MEN OF AMERICA                                     0
                                                                 ..
INCOME_AMT_25000-99999                                            0
INCOME_AMT_50M+                                                   0
INCOME_AMT_5M-10M                                                 0
SPECIAL_CONSIDERATIONS_N                                          0
SPECIAL_CONSIDERATIONS_Y                                          0
Length: 19612, dtype: int64

In [13]:
 # Replace NaN and infinite values with 0
X_train = np.nan_to_num(X_train)
X_test = np.nan_to_num(X_test)

In [14]:
X_train_scaled = X_train
X_test_scaled = X_test

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.partial_fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
    )

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 156904

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 156955 (613.11 KB)
Trainable params: 156955 (613.11 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5361 - accuracy: 0.7329
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.2918 - accuracy: 0.8738
Epoch 3/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1539 - accuracy: 0.9411
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1180 - accuracy: 0.9513
Epoch 5/100
804/804 [==============================] - 3s 4ms/step - loss: 0.1063 - accuracy: 0.9543
Epoch 6/100
804/804 [==============================] - 3s 3ms/step - loss: 0.1023 - accuracy: 0.9584
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0993 - accuracy: 0.9588
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0975 - accuracy: 0.9600
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0968 - accuracy: 0.9605
Epoch 10/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0953 - accuracy: 0.9616
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0938 - accuracy: 0.9615
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0931 - accuracy: 0.9619
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0931 - accuracy: 0.9619
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0927 - accuracy: 0.9618
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0919 - accuracy: 0.9619
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0918 - accuracy: 0.9623
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0913 - accuracy: 0.9620
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0908 - accuracy: 0.9620
Epoch 19/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0906 - accuracy: 0.9628
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0901 - accuracy: 0.9631
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0898 - accuracy: 0.9632
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0895 - accuracy: 0.9631
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0894 - accuracy: 0.9626
Epoch 24/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0890 - accuracy: 0.9634
Epoch 25/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0886 - accuracy: 0.9630
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0886 - accuracy: 0.9640
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0884 - accuracy: 0.9638
Epoch 28/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0879 - accuracy: 0.9639
Epoch 29/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0878 - accuracy: 0.9640
Epoch 30/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0881 - accuracy: 0.9638
Epoch 31/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0874 - accuracy: 0.9648
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0871 - accuracy: 0.9645
Epoch 33/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0874 - accuracy: 0.9644
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0896 - accuracy: 0.9613
Epoch 35/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0869 - accuracy: 0.9645
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0866 - accuracy: 0.9651
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0863 - accuracy: 0.9651
Epoch 38/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0858 - accuracy: 0.9647
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0861 - accuracy: 0.9651
Epoch 40/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0860 - accuracy: 0.9654
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0856 - accuracy: 0.9656
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0853 - accuracy: 0.9655
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0848 - accuracy: 0.9659
Epoch 44/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0857 - accuracy: 0.9651
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0854 - accuracy: 0.9656
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0846 - accuracy: 0.9658
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0844 - accuracy: 0.9661
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0843 - accuracy: 0.9661
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0842 - accuracy: 0.9660
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0842 - accuracy: 0.9658
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0836 - accuracy: 0.9662
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0838 - accuracy: 0.9666
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0841 - accuracy: 0.9662
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0832 - accuracy: 0.9665
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0834 - accuracy: 0.9661
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0833 - accuracy: 0.9664
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0832 - accuracy: 0.9664
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0834 - accuracy: 0.9661
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0831 - accuracy: 0.9665
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0829 - accuracy: 0.9666
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0829 - accuracy: 0.9665
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0830 - accuracy: 0.9667
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0826 - accuracy: 0.9667
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0831 - accuracy: 0.9665
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0827 - accuracy: 0.9668
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0827 - accuracy: 0.9666
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0828 - accuracy: 0.9666
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.0823 - accuracy: 0.9667
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0823 - accuracy: 0.9664
Epoch 70/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0824 - accuracy: 0.9665
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0818 - accuracy: 0.9669
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0824 - accuracy: 0.9665
Epoch 73/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0818 - accuracy: 0.9661
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0821 - accuracy: 0.9666
Epoch 75/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0821 - accuracy: 0.9670
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0819 - accuracy: 0.9671
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0817 - accuracy: 0.9673
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0818 - accuracy: 0.9671
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0816 - accuracy: 0.9672
Epoch 80/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0818 - accuracy: 0.9672
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0815 - accuracy: 0.9670
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0816 - accuracy: 0.9669
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0815 - accuracy: 0.9672
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0812 - accuracy: 0.9675
Epoch 85/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0812 - accuracy: 0.9673
Epoch 86/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0812 - accuracy: 0.9670
Epoch 87/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0815 - accuracy: 0.9669
Epoch 88/100
804/804 [==============================] - 3s 4ms/step - loss: 0.0811 - accuracy: 0.9668
Epoch 89/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0811 - accuracy: 0.9676
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0812 - accuracy: 0.9674
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0813 - accuracy: 0.9675
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0815 - accuracy: 0.9674
Epoch 93/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0815 - accuracy: 0.9673
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0810 - accuracy: 0.9673
Epoch 95/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0807 - accuracy: 0.9675
Epoch 96/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0812 - accuracy: 0.9672
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0809 - accuracy: 0.9670
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0806 - accuracy: 0.9679
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0806 - accuracy: 0.9670
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.0805 - accuracy: 0.9671

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6055 - accuracy: 0.6821 - 559ms/epoch - 2ms/step
Loss: 0.6055485010147095, Accuracy: 0.6820991039276123

In [20]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(